:root {
    --index: calc(1vw + 1vh)
}

body {
    background-color: rgb(132, 226, 226);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    flex-direction: column;
    color: rgb(70, 70, 70);
    font-style: italic;
    font-size: calc(1.2 * var(--index));
}